*,
*::after,
*::before {
  box-sizing: border-box;
}
:root{
  --font-general: 'Josefin Sans', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

span{
  color: white;
  font-size: 1.5rem;
  align-items: center;
  border: 1px solid #000;
  color: #111;
  display: flex;
  justify-content: center;
}

body {
  background-color: #e8e8e8;
  font-family: var(--font-general);
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 80px;
}

#numbers{
  display: grid;
  grid-template-columns: repeat(11,50px);
}
.card{
  display: grid;
  grid-template-columns: repeat(5,80px);
}
#start-game{
  margin-top: 30px;
}
.span-game{
  height: 45px;
  width: 51px;
}
.span-players{
  width: 80px;
  height: 80px;
  font-size: 2rem;
}
.green{
  background-color: lightgreen;
}
.orange{
  background-color: lightcoral;
}